:root {
    --hover-color: #F4DE1F;
    --nav-color: #0C70AC;
    --text-color: #FFFFFF;
    --title-color: #000;
    --link-color: #7C7C7C;
    --footer-color: #001C2D;
    --article-background-color: #E6E6E6;
}

body {
    color: var(--title-color);
    font-family: "Quicksand", sans-serif;
}

.container {
    width: 1650px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #0C70AC;
    border-bottom: 1px solid var(--text-color)
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 1075px;
    margin: 0 auto;
}

.nav-link {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;

}

.nav-link:hover,
.nav-link:focus {
    color: var(--hover-color);
}

.introduce {
    background-color: var(--nav-color);
    color: var(--text-color);
    padding-bottom: 170px;
}

.introduce-wrap {
    display: flex;
    align-items: center;
}

.text-wrap {
    margin-right: 437px;
    margin-left: 150px;
}

.introduce-title {
    font-size: 64px;
    font-weight: 700;
    width: 700px;
    margin-bottom: 20px;
}

.introduce-text {
    font-weight: 700;
    font-size: 32px;
    opacity: 0.5;
}

.destinations {
    padding-top: 80px;
    padding-bottom: 80px;
}

.destinations-title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.destinations-list {
    display: flex;
    justify-content: space-between;
}

.destinations-item {
    text-align: center;


}

.destinations-subtitle {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.destinations-text {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

.destinations-link {
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
    color: var(--link-color);
    text-transform: uppercase;
}

.blog {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--article-background-color);
}

.blog-title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.blog-wrap {
    display: flex;
    justify-content: space-between;
}

.blog-article {
    background-color: var(--text-color);
    width: 520px;
    border-radius: 15px;
}

.article-wrap {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 25px;
}

.blog-word {
    font-weight: 600;
    font-size: 16px;
    color: var(--link-color);
}

.blog-subtitle {
    margin-top: 25px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--title-color);
}

.blog-text {
    font-weight: 600;
    font-size: 20px;
    color: var(--link-color);
}

.footer {
    padding-top: 75px;
    padding-bottom: 80px;
    background-color: var(--footer-color);
    color: var(--text-color);
}

.footer-wrap-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 50px;
}
.footer-item-wrap{
    margin-bottom: 50px;
}
.footer-link-wrap {
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color);
}

.footer-list-img{
display: flex;
flex-wrap: wrap;
gap: 25px;
width: 500px;
}
.footer-item{
    flex-basis: calc((100% - 50px) / 3);
}