.maldives {
    padding-top: 60px;
}

.maldives-title {
    text-align: center;
    color: $footer-color;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 45px;
}

.maldives-text {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
}

.maldives-img {
    margin: 0 auto;
    display: block;
    width: 750px;
    margin-bottom: 50px;
}

.maldives-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.maldives-possibility {
    width: 40%;
    border: 1px solid lightgray;
    padding: 25px;
    font-size: 24px;

}

.maldives-prices {
    width: 40%;
    border: 1px solid lightgray;
    padding: 25px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.possibility-list {
    line-height: 150%;
}

.indonesia-wrap {
    display: flex;
    justify-content: space-evenly;
}

.indonesia-img {
    width: 45%;
    margin-bottom: 50px;
}

.australia-img {
    width: 45%;
    margin-bottom: 50px;
}